* {
    font-family: "Source Code Pro";
    font-size: 100%;
    line-height: 1.2rem;
}

:root {
    font-size: 1rem;
}

body, html {
    margin: 0;
    overflow-x: hidden;
    width: 100%;
}

body {
    background: var(--solarized-scheme3);
    color: var(--solarized-scheme02);
}

#output p {
    margin: 1.2rem 0 0;
}

#output h1, #output h2, #output h3, #output h4, #output h5, #output h6 {
    margin: 1.2rem 0 -1.2rem;
    font-weight: normal;
    font-style: normal;
}

#output table {
    border-spacing: 0;
    margin: 1.2rem 0 0;
}

#output table th {
    text-align: left;
    font-weight: bold;
    padding-bottom: 0;
    padding-left: 2ch;
    padding-right: 0;
    padding-top: 0;
}

#output table th[align=right] {
    text-align: right;
}

#output table td {
    padding-bottom: 0;
    padding-left: 2ch;
    padding-right: 0;
    padding-top: 0;
}

#output table th:nth-child(1), #output table td:nth-child(1) {
    padding: 0;
}

#output table tbody tr:nth-child(odd) {
    background: var(--solarized-scheme2);
}

#output h1 {
    font-weight: bold;
    color: var(--solarized-scheme3);
    background: var(--solarized-scheme02);
}

#output ul {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.2rem;
    padding-bottom: 0;
    padding-left: 2ch;
    padding-right: 0;
    padding-top: 0;
}

#output ol {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1.2rem;
    padding-bottom: 0;
    padding-left: 4ch;
    padding-right: 0;
    padding-top: 0;
}

#output ul > li {
    list-style: none;
    margin: 0;
    text-indent: -2ch;
}

#output ul > li::before {
    content: "* ";
}

#output {
    margin: 0.5rem 0.5rem 0;
    padding: 0 0 1rem;
}

#output code {
    background: inherit;
    border: none;
    color: var(--solarized-blue);
    cursor: pointer;
    padding: 0;
    text-decoration: underline;
}

#prompt-form {
    margin: 0.2rem 0.5rem 0.5rem;
    position: relative;
    white-space: nowrap;
}

#prompt-form::before {
    content: ">";
}

#prompt {
    background: none;
    border: none;
    color: inherit;
    height: 1.2rem;
    margin-bottom: 0;
    margin-left: 1ch;
    margin-right: 0;
    margin-top: 0;
    padding: 0;
    width: calc(100% - 2ch);
}

#prompt:focus {
    outline: none;
}

ul.autocomplete-list {
    background: var(--solarized-scheme2);
    bottom: 0;
    left: 0;
    margin-bottom: 1.2rem;
    margin-left: 1ch;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 1ch;
    padding-right: 1ch;
    padding-top: 0;
    position: absolute;
}

li.autocomplete-item {
    list-style: none;
    margin: 0;
    padding: 0;
}

li.autocomplete-item .autocomplete-item-description {
    color: var(--solarized-scheme00);
    float: right;
    margin-left: 1ch;
}

li.autocomplete-item mark.autocomplete-item-highlight {
    background: var(--solarized-scheme1);
}

li.autocomplete-item.autocomplete-item-selected {
    background: var(--solarized-scheme03);
    color: var(--solarized-scheme2);
}

li.autocomplete-item.autocomplete-item-selected .autocomplete-item-description {
    color: var(--solarized-scheme0);
}

li.autocomplete-item.autocomplete-item-selected mark.autocomplete-item-highlight {
    background: var(--solarized-scheme02);
    color: var(--solarized-scheme2);
}

.logo-tiny {
    display: block;
    white-space: pre;
}
.logo-small {
    display: none;
    white-space: pre;
}
.logo-medium {
    display: none;
    white-space: pre;
}
.logo-large {
    display: none;
    white-space: pre;
}

@media (min-width: 30ch) {
    .logo-tiny {
        display: none;
    }
    .logo-small {
        display: block;
    }
}

@media (min-width: 50ch) {
    .logo-small {
        display: none;
    }
    .logo-medium {
        display: block;
    }
}

@media (min-width: 80ch) {
    .logo-medium {
        display: none;
    }
    .logo-large {
        display: block;
    }
}
