<!DOCTYPE html>
<html>
  <head>
    <script charset="utf-8">
      const loadingStarted = Date.now()

      document.addEventListener(
        'DOMContentLoaded',
        (event) => window.stillLoadingInterval = setInterval(
          () => {
            if ((Date.now() - loadingStarted) > 2000) {
              clearInterval(window.stillLoadingInterval)

              document.getElementById('output').insertAdjacentHTML(
                'beforeend',
                '<div id="still-loading">initiative.sh is loading</div>',
              )

              window.stillLoadingInterval = setInterval(
                () => document.getElementById('still-loading').insertAdjacentText('beforeend', '.'),
                500,
              )

              window.stillLoadingTimeout = setTimeout(
                () => {
                  clearInterval(window.stillLoadingInterval)

                  const notice = document.getElementById('still-loading')
                  notice.classList.add('error')
                  notice.innerHTML = 'initiative.sh is still loading. If this message persists, it may have failed due to an error.'
                },
                10000,
              )
            }
          },
          200,
        ),
      )
    </script>
    <meta charset="utf-8">
    <meta name="description" content="initiative.sh is a storytelling aid for game masters. It's designed to support the creative process as your sessions evolve in real time.">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, maximum-scale=1">
    <title>initiative.sh - D&D tools for game masters at the table</title>
    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
    <% } %>
  </head>
  <body><div id="terminal">
    <div id="output" role="log">
      <div class="output-intro">
      <div role="hidden" class="logo-large">█████████████████████████████████████████████████████████████████████
█▄─▄█▄─▀█▄─▄█▄─▄█─▄─▄─█▄─▄██▀▄─██─▄─▄─█▄─▄█▄─█─▄█▄─▄▄─█████─▄▄▄▄█─█─█
██─███─█▄▀─███─████─████─███─▀─████─████─███▄▀▄███─▄█▀█░░██▄▄▄▄─█─▄─█
▀▄▄▄▀▄▄▄▀▀▄▄▀▄▄▄▀▀▄▄▄▀▀▄▄▄▀▄▄▀▄▄▀▀▄▄▄▀▀▄▄▄▀▀▀▄▀▀▀▄▄▄▄▄▀▄▄▀▀▄▄▄▄▄▀▄▀▄▀</div>
      <div role="hidden" class="logo-medium">█ █▄░█ █ ▀█▀ █ ▄▀█ ▀█▀ █ █░█ █▀▀ ░ █▀ █░█
█ █░▀█ █ ░█░ █ █▀█ ░█░ █ ▀▄▀ ██▄ ▄ ▄█ █▀█</div>
      <div role="hidden" class="logo-small">. _ ._|_. _ _|_.   _   _|_
|| || | |(_| | |\/(/_._\| |</div>
      <div role="hidden" class="logo-tiny">INITIATIVE.SH</div>

      <p>initiative.sh is a storytelling aid for game masters. It's designed to
      support the creative process as your sessions evolve in real time.</p>

      <p>This project's development is on hold while its author is on parental
      leave, but it is not forgotten. Please join the conversation
      <a href="https://discord.gg/ZrqJPpxXVZ" target="_blank">on Discord</a> or
      contact <a href="mailto:support@initiative.sh">support@initiative.sh</a>
      to help me make initiative.sh the best tool in your DM toolbox, and
      consider <a href="https://www.buymeacoffee.com/initiative" class="donate"
        target="_blank">buying me a set of dice</a> if you find it useful.

      <p>Your use of initiative.sh is subject to its <a href="/privacy.html"
        target="_blank">privacy policy</a>.</p>

      <noscript>
        <p class="error">You appear to be using an older browser or browsing the
        web with JavaScript disabled. Unfortunately it's not possible to build
        an HTML-only command line interface, so I don't have an alternative
        version to offer you.</p>
      </noscript>
      </div>
    </div>
    </div></body>
</html>
