<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, maximum-scale=1">
    <title>initiative.sh - Privacy Policy</title>
    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
    <% } %>
  </head>
  <body>
    <div id="output">
      <h1>Privacy Policy</h1>

      <p>initiative.sh is designed to function with as little awareness of your
      personal information as possible for your use of the application.
      <strong>We do not currently collect or store any personally-identifiable
      information.</strong></p>

      <h2>Data we collect</h2>

      <h3>Data you provide to us</h3>

      <p>All personalization information (your campaign journal) is stored
      locally on your computer and is never transmitted or used to identify
      you.</p>

      <h3>Analytics</h3>

      <p>We collect aggregated information related to your usage of the site.
      For instance, Cloudflare Analytics can tell us how many people visited
      from the United States yesterday. We may use our own analytics to track
      usage information such as how many users are using the inn name generator
      (but not which users do so).</p>

      <h2>Use of information</h2>

      <h3>Log data &amp; analytics</h3>

      <p>Cloudflare manages all third-party logging and analytics used on the
      initiative.sh domain. Collection and use of information is additionally
        subject to Cloudflare's <a
          href="https://www.cloudflare.com/en-ca/privacypolicy/"
          target="_blank">privacy policy</a>, the pertinent section of which is
        reproduced below:</p>

      <blockquote>
        <p><strong>Log Data:</strong> Cloudflare processes End Users’
        information on behalf of our Customers. This information is processed
        when End Users access or use our Customers’ domains, websites, APIs,
        applications, devices, end points, and networks that use one or more of
        our Services. Cloudflare also processes End Users’ information on behalf
        of our Customers when the End Users access our Services pursuant to our
        Customers’ authorization. The information processed may include but is
        not limited to IP addresses, system configuration information, and other
        information about traffic to and from Customers’ websites, devices,
        applications, and/or networks (collectively, “Log Data”).</p>
      </blockquote>

      <p>Information collected directly by Cloudflare does not constitute
      personally identifiable information and is available to initiative.sh only
      in aggregate.</p>

      <h2>Third-party disclosure</h2>

      <p>We employ other companies to provide certain services on our behalf,
      including billing and web hosting. These third-party service providers
      have access to personal information needed to perform their functions, but
      may not use it for other purposes.</p>

      <p>Aside from our service providers, we do not share your personal
      information with third parties, except as may be required by law in
      Quebec, Canada.</p>

      <h2>Internal security procedures</h2>

      <p>Currently, we do not store any information about you. There is nothing
      to compromise.</p>

      <h2>Cookies and local storage</h2>

      <p>We do not currently use cookies. We will never use third-party
      cookies.</p>

      <p>We use local storage on your computer (IndexedDB) to save and load game
      information. This data never leaves your computer and is not used to
      identify you.</p>

      <h2>Changes to our privacy notice</h2>

      <p>initiative.sh is under active development, and certain features will
      require the collection and storage of additional data. As always, we will
      limit the amount of data we collect as much as possible, and keep it for
      as short a period as possible. In the event that a feature requires
      additional data collection and retention, this policy will be updated
      accordingly. You can be assured that its spirit will remain unchanged.</p>

      <p>Updates to our privacy policy will be posted to the changelog on the
      website and announced in the #releases channel on Discord. As we do not
      collect your contact information, we have no way of providing you with
      notice of changes to this policy.</p>

      <h2>Contact</h2>

      <p>For any questions or comments about this policy, please contact us
      at:</p>

      <p><a href="mailto:support@initiative.sh" target="_blank">support@initiative.sh</a></p>
    </div>
  </body>
</html>
