name: Rust

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  rustfmt:
    name: Code style

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Run rustfmt
        run: find src -name '*.rs' -exec rustfmt --check '{}' +

  unit-tests:
    name: Unit tests

    runs-on: ubuntu-latest

    needs: rustfmt # no point in running unit tests if linting fails

    steps:
      - uses: actions/checkout@v2
      - name: Run unit tests
        run: cargo test --lib --verbose
